<hr>
<div class="presentacion-empresa">
    <h2>Transporte Rápido</h2>
    <p>Nuestra misión es ofrecer soluciones de transporte eficientes y confiables, brindando un servicio de calidad a nuestros clientes y contribuyendo al desarrollo económico del país.</p>
    <p>Buscamos ser reconocidos como líderes en el mercado de transporte, destacando por nuestra excelencia operativa, innovación constante y compromiso con la satisfacción del cliente.</p>
    <h3>MODO DE USO DEL BUSCAR</h3>
    <ul>
      <li>INGRESE EL NOMBRE COMPLETO DE LAS CIUDAD DE DESTINO U ORIGEN QUE DESEA BUSCAR</li>
      <li>EJEMPLO:</li>
      <li>Santa Rosa</li>
      <li>El Guabo</li>

      <li>SI INGRESA MACHALA, SALDRAN TODAS LAS RUTAS, YA QUE TODAS SALEN O VAN A MACHALA.</li>
    </ul>
  </div>
  